# Syncfusion is a commercial component suite (with a free Community License for
# small teams). Without a key the DateRangePicker still works but shows a trial
# notice. To remove it, copy this file to `.env`, paste your license key below,
# and restart the dev server.
#
# Get a key (free Community License or trial) from https://www.syncfusion.com
# The key is read at runtime in src/PaidDateRangePicker.jsx via registerLicense().
# Note: the key must match the installed Syncfusion version (see package.json).
VITE_SYNCFUSION_LICENSE=
